@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

<div id="hero" class="hero-section">
    <div>
        <h1 class="display-3">@L["Hero_Name"]</h1>
        <h2 class="mt-3 pt-1">
            @L["HeroPhrase_Intro"] <span class="dynamic-text @(isFadingOut ? "fade-out" : "")">@currentText</span>
        </h2>
        <p class="mt-4 pt-5">
            <a href="#projects" class="btn btn-primary btn-lg">@L["Hero_WorkButton"]</a>
        </p>
        <p class="mt-4">
            <a href="files/Curriculum Vitae, Juuso Savolainen_eng.pdf" class="btn btn-primary btn-success">@L["Hero_CVButton"]</a>
        </p>
    </div>
</div>

@code {
    @implements IDisposable

    private string[] phrases = Array.Empty<string>();

    private int index = 0;
    private string? currentText;
    private bool isFadingOut = false;
    private CancellationTokenSource? _cts;

    protected override async Task OnInitializedAsync()
    {
        phrases = new[]
        {
            L["HeroPhrase_Blazor"].Value,
            L["HeroPhrase_FullStack"].Value,
            L["HeroPhrase_CSharp"].Value
        };

        _cts = new CancellationTokenSource();
        currentText = phrases[index];

        try
        {

            while (!_cts.Token.IsCancellationRequested)
            {
                await Task.Delay(2500, _cts.Token);

                isFadingOut = true;
                await InvokeAsync(StateHasChanged);

                await Task.Delay(500, _cts.Token);

                index = (index + 1) % phrases.Length;
                currentText = phrases[index];

                isFadingOut = false;
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (TaskCanceledException)
        {
            // Do nothing
        }
    }

    public void Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
    }
}
